# android
android/.gradle
android/local.properties
android/app/build
*.iml

# intellij
android/.idea
android/build

# pycharm / python
tools/.idea
tools/build
__pycache__

# own
/tools/pngs
/resources
